/* Banner CSS */

.banner {
    padding-top: 43px;
    padding-bottom: 140px;
    position: relative;
    z-index: 1;
    @include mmd {
        padding-bottom: 140px;
        padding-top: 120px;
        background-size: contain;
    }
    @include sm {
        padding-bottom: 30px;
        padding-top: 120px;
        background-size: contain;
    }
    &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 760.96px;
        height: 373.49px;
        // background: $primary;
        filter: blur(347px);
        transform: rotate(-46.62deg);
        z-index: -1;
        border-radius: 100%;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 1859px;
        height: 800px;
        // background-image: url("../img/hero-shap-1.png");
        opacity: 100;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        z-index: -1;
    }
    & .banner-wrapper{
        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            width: 359.73px;
            height: 308.57px;
            left: -92.66px;
            // background: $primary;
            filter: blur(347px);
            z-index:-1;
            border-radius: 50%;
        }  
    }
    &-content {
        
        position: relative;
        z-index: 99;
        & p {
            margin-bottom: 40px;
            @include font-24;
            font-weight: 500;
            @include ssm{
                padding-right: 0%;
            }
        }

        
    }
    & .count_down_numbers, .countdown_box_bottom{
        padding: 24px;
        @include bg_blur_w_border;
    }
    & .cloud1{
        position: absolute;
        top: 72px;
        left: 10%;
        max-width: 452px;
    }
    .cloud2{
        max-width: 115px;
    }
    .cloud3{
        max-width: 115px;
        margin-left: 30%;
    }
    .cloud4{
        max-width: 480px;
        position: absolute;
        right: 0;
        bottom: 30%;
        z-index: -1;
    }
    .cloud5{
        max-width: 452px;
        position: absolute;
        right: 30%;
        bottom: 10%;
        z-index: -1;
    }
}






/*=================================================
================ The Bart area CSS ================
=================================================*/
.theBart_area{
    background-image: url('../img/zigzac-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding-top: 180px;
    padding-bottom: 78px;
    & .theBart_left_content{
        position: relative;
        z-index: 1;
        & .theBart_left_content_inner{
            @include bg_blur_w_border;
            padding: 40px;
        }
        & .cloud{
            position: absolute;
            left: 50%;
            bottom: 0;
            max-width: 508px;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/*=================================================
================ About area CSS ================
=================================================*/
.about__area{
    padding-top: 120px;
    padding-bottom: 115px;
}

/*=================================================
================ Tokenomics area CSS ================
=================================================*/
.tokenomics__area{
    padding-top: 155px;
    padding-bottom: 140px;
    background-image: url('../img/zigzac-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    & .chartImg{
        max-width: 586px;
    }
}


/*=================================================
================ Howtobuy area CSS ================
=================================================*/
.howtobuy__area{
    position: relative;
    z-index: 1;
    padding-top: 120px;
    padding-bottom: 120px;
    & .howtobuy_single_item{
        @include bg_blur_w_border;
        padding: 60px 40px;
        height: 100%;
        & figure{
            max-width: 212px;
            margin:0 auto;
            & img{
                width: auto;
            }
        }
    }
    & .cloudleft{
        max-width: 353px;
        position: absolute;
        left: 50px;
        top: 22%;
        z-index: -1;
    }
    & .cloudright{
        position: absolute;
        right: 50px;
        bottom: 6%;
        z-index: -1;
    }
}


/*=================================================
================ RoadMap area CSS ================
=================================================*/
.road__map__area{
    & .section__title{
        margin-bottom: 140px;
    }
    .timeline-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 40px 0;
    }
    .timeline-container::after {
        background-color: #90D2F1;
        content: '';
        position: absolute;
        left: calc(50% - 2px);
        width: 4px;
        height: 100%;
        @include sm{
            left: 5.3%;
        }
    }
    .timeline-container::before {
        content: '';
        position: absolute;
        top: -150px;
        left:50%;
        width: 146px;
        height: 170px;
        background-image: url('../img/roket.png');
        transform: translateX(-50%);
        background-repeat: no-repeat;
        margin-left: 2px;
        @include sm{
            background-size: 75%;
            left: 10%;
            top: -110px;
        }
    }
    .timeline-item {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        position: relative;
        width: 43%;
        @include sm{
            width: 80%;
        }
    }

    .roadmap_lists{
        @include bg_blur_w_border;
        padding: 40px;
        width: 100%;
    }
    .timeline-item:nth-child(odd) {
        align-self: flex-end;
        justify-content: flex-start;
        padding-left: 30px;
        padding-right: 0;
    }
    .timeline-item:nth-child(even) {
        @include sm{
            align-self: flex-end;
            justify-content: flex-start;
            padding-left: 30px;
            padding-right: 0;
        }
    }

    .timeline-item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        width: 100%;

    }


    .timeline-item-content .tag {
        text-transform: uppercase;
        @include bg_blur_w_border;
        width: 100%;
        padding:15px 40px;
        font-size: 31px;
        font-family: 'simpsonfont';
        margin-bottom: 12px;
    }
    .timeline-item-content::after {
        content: ' ';
        background-color: #90D2F1;
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: -23%;
        top: 30px;
        width: 23%;
        height: 2px;
        @include sm{
            right: auto;
            left: -23%;
        }
    }


    .timeline-item-content .circle {
        background-color: #90D2F1;
        border-radius: 50%;
        position: absolute;
        top: 21px;
        right: -26.5%;
        width: 20px;
        height: 20px;
        z-index: 100;
        @include sm{
            right: auto;
            left: -26.5%;
        }
    }

    .timeline-item:nth-child(odd) .timeline-item-content .circle {
        right: auto;
        left: -26.5%;
    }
    .timeline-item:nth-child(1) {
        margin-top: 60px;
    }

    .timeline-item:nth-child(even) {
        margin-top: -120px;
        @include sm{
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    .timeline-item:nth-child(odd) .timeline-item-content {
        align-items: flex-start;
    }

    .timeline-item:nth-child(odd) .timeline-item-content::after {
        right: auto;
        left: -23%;
    }


    .timeline-item:nth-child(odd) .timeline-item-content .tag {
        left: auto;
        right: 5px;
    }


}








.another_way_area{
    padding-top: 120px;
    padding-bottom: 120px;
    & .section__title{
        h2{
            line-height: 100%;
            -webkit-text-stroke-width: 2;
            -webkit-text-stroke-color: #000;
        }
    }
}